*{
    margin: 0; padding: 0; box-sizing: border-box; font-weight: 300;
}
.mix-error{
    background-color: rgba(255,0,0,0.2);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.mix-fade-out {
    animation: fadeOut 2s ease-out forwards; /* Adjust the duration and timing function as needed */
}

body{
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    background-color: #e5e5e5;
    overflow: hidden;
    overflow-y: scroll;
}
form{
    width: 100%;
}
input{
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    border-radius: 2%;
}
button{
    width: 100%;
    height: 2rem;
    color: white;
    background-color: #06b6d4;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5%;
}

form#frm_user{
    display: grid;
    grid-template-columns: 100fr 100fr 40fr;
    align-items: center;
    gap: 0.1rem;
}
form#frm_user > button{
    margin-top: auto;
}
label{
    display: flex;
    gap: 0.5rem;
}
label > span:nth-child(2){
    /* margin-left: auto; */
    color: rgba(0,0,0,0.3);
}


div#users{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
}

div.user{
    display: grid;
    grid-template-columns: 100fr 20fr;
    gap: 0.1rem;
    align-items: center;
}
div.user > form{
    display: grid;
    grid-template-columns: 100fr 100fr;
    gap: 0.1rem;
    align-items: center;
}
div.user > form > input{
    border: none;
    background-color: rgba(255,255,255,0.5);
}
div.user  > button{
    background-color: #ec4899;
}
.user_deleted{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 2rem; 
    text-align: center;
}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}