% import x

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <script src="/mixhtml.js" defer></script>
    <title>Document</title>
</head>
<body>

    <p id="message"></p>
    <form id="frm_user" autocomplete="off">
        <input name="user_name" type="text" placeholder="name {{x.USER_NAME_MIN}} to {{x.USER_NAME_MAX}} characters">
        <button
            mix-post="/users"
            mix-data="#frm_user"
            mix-default="Create user"
            mix-await="Please wait..."
        >
            Create user
        </button>
    </form>

    <div id="users">
        % for user in users:
            % include _user.html
        % end
    </div>


    <script>
        const mix_replace_url = "/"
    </script>
    
</body>
</html>